{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block title %}{{ recipe.name }}{% endblock %} 

{% block content %} 

<!-- Single Recipe Main Banner Area Start Here -->
<section class="single-recipe-main-banner">
    <div class="rc-carousel nav-control-layout4" data-loop="true" data-items="5" data-margin="5" data-autoplay="true"
        data-autoplay-timeout="5000" data-smart-speed="700" data-dots="false" data-nav="true" data-nav-speed="false"
        data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1"
        data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1" data-r-small-nav="true"
        data-r-small-dots="false" data-r-medium="1" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1"
        data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="1" data-r-extra-large-nav="true"
        data-r-extra-large-dots="false">
        <div class="item-figure">
            <img src="{{ recipe.image.url }}" alt="Banner">
        </div>
    </div>
</section>
<!-- Single Recipe Main Banner Area End Here -->
<!-- Single Recipe Without Sidebar Area Start Here -->
<section class="single-recipe-wrap-layout2 padding-bottom-80">
    <div class="container">
        <div class="single-recipe-layout2">
            <div class="ctg-name">{{ recipe.tribe|upper }}</div>
            <h2 class="item-title">{{ recipe.name }}</h2>
            <div class="d-flex align-items-center justify-content-between flex-wrap mb-5">
                <ul class="entry-meta">
                    <li class="single-meta"><a href="#"><i class="far fa-calendar-alt"></i>{{ recipe.created|date:"F j, Y" }}</a></li>
                    <li class="single-meta"><a href="#"><i class="fas fa-user"></i>by <span>Admin</span></a></li>
                    <li class="single-meta">
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                        </ul>
                    </li>
                </ul>
                <ul class="action-item">
                    <li><button><i class="fas fa-print"></i></button></li>
                    <li><button><i class="fas fa-expand-arrows-alt"></i></button></li>
                    <li class="action-share-hover"><button><i class="fas fa-share-alt"></i></button>
                        <div class="action-share-wrap">
                            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#" title="skype"><i class="fab fa-skype"></i></a>
                            <a href="#" title="rss"><i class="fas fa-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-feature">
                <ul>
                    <li>
                        <div class="feature-wrap">
                            <div class="media">
                                <div class="feature-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="media-body space-sm">
                                    <div class="feature-title">PREP TIME</div>
                                    <div class="feature-sub-title">{{ recipe.preparation_time }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-wrap">
                            <div class="media">
                                <div class="feature-icon">
                                    <i class="fas fa-utensils"></i>
                                </div>
                                <div class="media-body space-sm">
                                    <div class="feature-title">COOK TIME</div>
                                    <div class="feature-sub-title">{{ recipe.cooking_time }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-wrap">
                            <div class="media">
                                <div class="feature-icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="media-body space-sm">
                                    <div class="feature-title">SERVING</div>
                                    <div class="feature-sub-title">{{ recipe.servings }} People</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-wrap">
                            <div class="media">
                                <div class="feature-icon">
                                    <i class="far fa-eye"></i>
                                </div>
                                <div class="media-body space-sm">
                                    <div class="feature-title">VIEWS</div>
                                    <div class="feature-sub-title">3,450</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="item-description">{{ recipe.description|linebreaks }}</p>
            <div class="making-elements-wrap">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="ingridients-wrap">
                            <h3 class="item-title"><i class="fas fa-list-ul"></i>Ingredients</h3>
                            {% for ingredient in recipe.ingredients.all %}
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">{{ ingredient.name }}: {{ ingredient.text }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="nutrition-wrap">
                            <h3 class="item-title"><i class="fas fa-info"></i>Cooking Tools Used</h3>
                            <ul class="nutrition-list">
                                {% for tool in recipe.tools.all %}
                                <li>
                                    <div class="nutrition-name">{{ tool.name }}</div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="direction-wrap-layout2">
                <div class="section-heading2 heading-dark">
                    <h2 class="item-heading">Follow The Directions</h2>
                </div>
                {% for preparation in recipe.preparations.all %}
                <div class="direction-box-layout2">
                    <div class="serial-number">
                        <h4 class="number-title">{{ preparation.id }}</h4><span>Step</span>
                    </div>
                    <div class="item-content">
                        <p>{{ preparation.text }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if recipe.get_previous_by_created or recipe.get_next_by_created %}
            <div class="next-prev-post">
                {% if recipe.get_previous_by_created %}
                <div class="prev-post">
                    <a href="{{ recipe.get_previous_recipe.get_absolute_url }}" class="item-figure"><img src="{{ recipe.get_previous_recipe.image.url }}" alt="Post"></a>
                    <div class="item-content">
                        <p>PREVIOUS POST</p>
                        <h3 class="post-title"><a href="{{ recipe.get_previous_recipe.get_absolute_url }}">{{ recipe.get_previous_recipe }}</a></h3>
                    </div>
                </div>
                {% endif %}
                {% if recipe.get_next_by_created %}
                <div class="next-post">
                    <div class="item-content">
                        <p>NEXT POST</p>
                        <h3 class="post-title"><a href="{{ recipe.get_next_recipe.get_absolute_url }}">{{ recipe.get_next_recipe }}</a></h3>
                    </div>
                    <a href="{{ recipe.get_next_recipe.get_absolute_url }}" class="item-figure"><img src="{{ recipe.get_next_recipe.image.url }}" alt="Post"></a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="recipe-reviews">
                <div class="section-heading3 heading-dark">
                    <h2 class="item-heading">RECIPE REVIEWS</h2>
                </div>
                <div class="avarage-rating-wrap">
                    
                    <div class="total-reviews">Total Reviews:<span class="review-number">({{ recipe.reviews.count }})</span></div>
                </div>
                <ul>
                    {% for review in reviews %}
                    <li class="reviews-single-item">
                        <div class="media media-none--xs">
                            <div class="media-body">
                                <h4 class="comment-title">{{ review.author.username|title }}</h4>
                                <span class="post-date">{{ review.created|date:"F j, Y" }}</span>
                                <p>{{ review.body|linebreaks }}</p>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li>There are currently no reviews for this recipe.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="leave-review">
                <div class="section-heading3 heading-dark">
                    <h2 class="item-heading">LEAVE A REVIEW</h2>
                </div>
                {% if request.user.is_authenticated %}
                <form class="leave-form-box">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="id_body">Comment :</label>
                            <textarea placeholder="" name="body" id="id_body" maxlength="1000" class="textarea form-control" name="message" rows="7" cols="20" data-error="Message field is required" required></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-12 form-group mb-0">
                            <button type="submit" class="item-btn">POST REVIEW</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <p><a href="{% url 'login' %}">Login</a> to post a review</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Single Recipe Without Sidebar Area End Here -->

{% endblock %}