{% extends "base.html" %}
{% block title %}{{ recipe.name }}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<main class="container my-5">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <span>Tribe: <a href="{{ recipe.tribe.get_absolute_url }}" class="text-decoration-none">{{ recipe.tribe }}</a></span>
            <h3 class="mb-2">{{ recipe.name }}</h3>
            {% if recipe.image %}
            	<img class="my-3 img-fluid" src="{{ recipe.image.url }}">
            {% endif %}
            <p class="text-center"><small>{{ recipe.image_caption }}</small></p>
            <div class="row">
                <div class="col-3">
                    <p>Cook time: {{ recipe.cooking_time }}</p>
                </div>
                <div class="col-3">
                    <p>Best Eaten: {{ recipe.get_meal_period_display }}</p>
                </div>
                <div class="col-3">
                    <p>Preparation time: {{ recipe.preparation_time }}</p>
                </div>
                <div class="col-3">
                    <p>Servings: {{ recipe.servings }} persons</p>
                </div>
            </div>
            <div class="row mt-2 mb-4">
                <div class="col-lg-6">
                    <h4 class="pb-2">About this Recipe</h4>
                    <p class="my-2">{{ recipe.description }}</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="pb-2">Cooking Tools Used</h4>
                    <ul class="list-group">
                        {% for tool in recipe.tools.all %}
                        <li class="list-group-item">
                            {{ tool.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row mt-2 mb-4">
                <div class="col-lg-12">
                    <h4 class="pb-2">Ingredients</h4>
                    <hr>
                    <ul class="list-group">
                        {% for ingredient in recipe.ingredients.all %}
                            <li class="list-group-item">
                                {% if ingredient.image %}
                                <img class="img-fluid me-4" src="{{ ingredient.image.url }}" width="200px" height="200px">
                                {% endif %}
                                <span class="align-top fs-5">{{ ingredient.name }}</span>
                                <span class="align-base">{{ ingredient.text }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
                
            <h4 class="pb-2">Steps in Preparation</h4>
            <hr>
            {% for preparation in recipe.preparations.all %}
                <h6 class="text-uppercase">step {{ preparation.id }}</h6>
                <hr>
                <p>{{ preparation.text }}</p>
            {% endfor %}

            {% if recipe.video %}
            <h4 class="py-2">Watch Video Below</h4>
            <div class="section d-flex justify-content-center ratio ratio-16x9">
              <video controls>
                    <source src="{{ recipe.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </div>
            {% endif %}
            
            <section class="my-5">
                <h4 class="pb-2">Reviews</h4>
                <div class="card bg-light">
                    
                    <div class="card-body">
                        {% if request.user.is_authenticated %}
                            <form class="mb-4" action="." method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary">Submit Review</button>
                            </form>
                            {% for review in reviews %}
                            <div class="d-flex mb-2">
                                <div class="ms-3">
                                    <div class="fw-bold">Review by {{ review.author.username|title }}</div>
                                    {{ review.body|linebreaks }}
                                </div>
                            </div>
                            {% empty %}
                            <p>There are currently no reviews for this recipe.</p>
                            {% endfor %}
                        {% else %}
                            <p><a href="{% url 'login' %}">Login</a> to post a review</p>
                        {% endif %}
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock content %}