{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}

<!-- Random Recipe Start Here -->
<section class="padding-bottom-18">
    <div class="container">
        <div class="row">
            {% for recipe in trending_recipes %}
            <div class="col-lg-4 {% if forloop.last %}d-block d-md-none d-lg-block{% else %}col-md-6{% endif %} col-sm-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="{{ recipe.get_absolute_url }}"><img src="{{ recipe.image.url }}"
                                alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">{{ recipe.get_meal_period_display|upper }}</span>
                        <h3 class="item-title"><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></h3>
                        <ul class="item-rating">
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            </li>
                        </ul>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fas fa-clock"></i>{{ recipe.cooking_time }}</a></li>
                            <li><a href="#"><i class="fas fa-user"></i>by <span>ADMIN</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Random Recipe End Here -->

<!-- Featured Recipe Start Here -->
<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="section-heading heading-dark">
                    <h2 class="item-heading">FEATURED RECIPES</h2>
                </div>
                <div class="row">
                    {% for recipe in featured_recipes %}
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout1">
                            <figure class="item-figure"><a href="{{ recipe.get_absolute_url }}"><img
                                        src="{{ recipe.image.url }}" alt="Product"></a></figure>
                            <div class="item-content">
                                <span class="sub-title">{{ recipe.tribe }}</span>
                                <h3 class="item-title"><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
                                </h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    </li>
                                </ul>
                                <p>{{ recipe.description|truncatechars:105 }}</p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>{{ recipe.cooking_time }}</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>ADMIN</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list">
                            {% for recipe in latest_recipes %}
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="{{ recipe.image.url }}" width="90" height="90" alt="Post"></a>
                                    <div class="count-number">{{ forloop.counter }}</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">{{ recipe.get_meal_period_display }}</div>
                                    <h4 class="item-title"><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></h4>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trending Recipe End Here -->

{% endblock content %}