{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{% endblock title %} - Food Directory</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
        <style>
            :root {
                --avatar-size: 3rem;
            }
        
            .circle {
                height: var(--avatar-size);
                width: var(--avatar-size);
            }
        
            .initials {
                font-size: calc(var(--avatar-size) / 2);
                top: calc(var(--avatar-size) / 4);
            }
        </style>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'recipe:home' %}">Food Dir/</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'recipe:home' %}">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                                    <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock content %}
        <!-- Footer-->
        <footer class="py-5 bg-dark mt-auto">
            <div class="container px-5">
                <p class="m-0 text-center text-white">
                    &copy; Food Directory {% now 'Y' %}</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>