{% extends "base.html" %}
{% block title %}My Profile{% endblock title %}

{% block content %}

<main class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h3>My profile</h3>
            <p>Username: <b>{{ user.username }}</b></p>
            <p>Email address: <b>{{ user.email }}</b></p>
            <p>Joined on: <b>{{ user.date_joined }}</b></p>
            <p>Your last login was on: <b>{{ user.last_login }}</b></p>
        </div>
    </div>
    
</main>
{% endblock %}